<html>
    <router-outlet></router-outlet>
    <head>
        <title>RH-vacaciones</title>
    </head>


    <body>

<br>
<div class="espacio">

</div>

          <div class="contenedorT">
            <form action="#">
              <br>
              <div class="TituloT">Vacaciones</div>
              <br>
              <div class="user-detailsT">
                
                <div class="input-boxT">
                  <span class="detailsT">Tipo de solicitud </span>
                  <input type="text" placeholder="----------" required>
                </div>
                <div class="input-boxT">
                  <span class="detailsT">Fecha inicial </span>
                  <input type="text" placeholder="----------" required>
                </div> 

                <div class="input-boxT">
                  <span class="detailsT">Fecha final: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxT">
                  <span class="detailsT">Dias solicitados </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxT">
                    <span class="detailsT">Dias restantes </span>
                    <input type="text" placeholder="----------" required>
                  </div>

                  <div class="input-boxT">
                    <br><br><br><br><br>
                    <span class="detailsT">Buscar</span>
                    <input type="text" placeholder="----------" required>
                  </div>

              </div>

              <br>
              <br>
                <div class="centrar">
                <a class="boton7" href="">Guardar</a>
                </div>
              
            </form>

          </div>

        
    </body>
</html>

