<html>
    <router-outlet></router-outlet>
    <head>
        <title>Sistema RH</title>
    </head>

    <body>
      
<br>
<div class="espacio">

</div>

<div class="contenedordp">
    <form action="#">
      <br>
      <div class="Titulo">Datos personales</div>
      <br>
      <div class="dp-details">
        
        <div class="input-box">
          <span class="details">Nombre: </span>
          <input type="text" placeholder="Ingresa tu Nombre" required>
        </div>
        <div class="input-box">
          <span class="details">Apellido Paterno: </span>
          <input type="text" placeholder="Ingresa tu Apellido Paterno" required>
        </div> 
        <div class="input-box">
          <span class="details">Apellido Materno: </span>
          <input type="text" placeholder="Ingresa tu Apellido Materno" required>
        </div>
        <div class="input-box">
          <span class="details">Fecha de Antigüedad: </span>
          <input type="date" placeholder="" required>
        </div>
        <div class="input-box">
          <span class="details">Fecha de Ingreso: </span>
          <input type="date" placeholder="" required>
        </div>
        <div class="input-box">
          <span class="details">Fecha de Baja: </span>
          <input type="date" placeholder="" required>
        </div>
        <div class="input-box">
          <span class="details">Curp y Cédula: </span>
          <input type="text" placeholder="Ingresa tu Curp y tu Cédula" required>
        </div>
        <div class="input-box">
          <span class="details">RFC: </span>
          <input type="text" placeholder="Ingresa tu RFC" required>
        </div>
        <div class="input-box">
          <span class="details">Pasaporte: </span>
          <input type="text" placeholder="Ingresa tu Pasaporte" required>
        </div>
        <div class="input-box">
          <span class="details">Fecha de Nacimiento: </span>
          <input type="date" placeholder="" required>
        </div> 
        <div class="input-box">
          <span class="details">Sexo: </span>
            <input type="text" placeholder="Mujer/Hombre" required>
        </div>
        <div class="input-box">
          <span class="details">Estado Civil: </span>
          <input type="text" placeholder="Ingresa tu Estado Civil" required>
        </div>
        <div class="input-box">
          <span class="details">Ciudad de Nacimiento: </span>
          <input type="text" placeholder="Ingresa tu Ciudad de Nacimiento" required>
        </div>
        <div class="input-box">
          <span class="details">País de Nacimiento: </span>
          <input type="text" placeholder="Ingresa tu País de Nacimiento" required>
        </div>
        <div class="input-box">
          <span class="details">Estado de Nacimiento: </span>
          <input type="text" placeholder="Ingresa tu Estado de Nacimiento" required>
        </div>
        <div class="input-box">
          <span class="details">Nacionalidad: </span>
          <input type="text" placeholder="Ingresa tu Nacionalidad" required>
        </div>
        <div class="input-box">
          <span class="details">Situación Administrativa: </span>
          <input type="text" placeholder="Ingresa tu Situación Administrativa" required>
        </div>
        <div class="input-box">
          <span class="details">Disponibilidad Mensual: </span>
          <input type="text" placeholder="Ingresa tu Disponibilidad Mensual" required>
        </div>
      </div>
      
    </form>

  </div>

        
    </body>
</html>
