<html>
    <router-outlet></router-outlet>
    <head>
        <title>Sistema RH</title>
    </head>

    <body>

<br>
<div class="espacio">

</div>

          <div class="contenedorR">
            <form action="#">
              <br>
              <div class="TituloR">Empresa</div>
              <br>
              <div class="user-detailsR">
                
                <div class="input-boxR">
                  <span class="detailsR">Fecha inicial: </span>
                  <input type="text" placeholder="----------" required>
                </div>
                <div class="input-boxR">
                  <span class="detailsR">Fecha final: </span>
                  <input type="text" placeholder="----------" required>
                </div> 

                <div class="input-boxR">
                  <span class="detailsR">Proyectos: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxR">
                  <span class="detailsR">Cliente: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxR">
                  <span class="detailsR">Centro de costo: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxR">
                    <span class="detailsR">Oficina: </span>
                    <input type="text" placeholder="----------" required>
                  </div>

                <div class="input-boxR">
                  <span class="detailsR">Jefe directo: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxR">
                  <span class="detailsR">Gerente: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxR">
                  <span class="detailsR"> Porcentaje: </span>
                  <input type="text" placeholder="----------" required>
                </div>
              </div>  
               
                <br>
                <br>
                  <div class="centrar">
                  <a class="boton6" href="">Nuevo</a>
                  <a class="boton7" href="">Guardar</a>
                </div>
              
            </form>

          </div>

        
    </body>
</html>

