<html>
    <router-outlet></router-outlet>
    <head>
        <title>Sistema RH</title>
    </head>

    <body>    
      
<br>
<div class="espacio">

</div>

          <div class="contenedorM">
            <form action="#">
              <br>
              <div class="TituloM">Contactos</div>
              <br>
              <div class="user-detailsM">
                
                <div class="input-boxM">
                  <span class="detailsM">Nombre Completo: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Casa" required>
                </div>
                <div class="input-boxM">
                  <span class="detailsM">Nombre completo: </span>
                  <input type="text" placeholder="Ingresa tu Nom. Completo" required>
                </div> 
                <div class="input-boxM">
                  <span class="detailsM">Telefono Celular: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Celular" required>
                </div>
                <div class="input-boxM">
                  <span class="detailsM">Direccion.: </span>
                  <input type="text" placeholder="Ingresa tu Direccion" required>
                </div>
                <div class="input-boxM">
                  <span class="detailsM">Email: </span>
                  <input type="text" placeholder="Ingresa tu Email" required>
                </div>
                <div class="input-boxM">
                  <span class="detailsM">Tipo de contacto: </span>
                  <input type="text" placeholder="Ingresa tu tipo Cont." required>
                </div>
                <div class="input-boxM">
                  <span class="detailsM">Telefono Particular: </span>
                  <input type="text" placeholder="Ingresa tu Telefono P. " required>
                </div>
                <div class="input-boxM">
                  <span class="detailsM">Dependiente Socieconomico: </span>
                  <input type="text" placeholder="Ingresa tu Dependiente" required>
                </div>
              </div>
              <br>
              <div class="centrar">
                <a class="boton4" href="">Guardar</a>
              </div>
              
            </form>

          </div>

        
    </body>
</html>
