<html>
    <router-outlet></router-outlet>
    <head>
        <title>Sistema RH</title>
    </head>

    <body>
       
 <br>
 <div class="espacio">

</div>

            <div class="contenedorN">
                <form action="#">
                <br>
                <div class="TituloN">Expedientes</div>
                <br>
                <div class="user-detailsN">
                    
                    <div class="input-boxN">
                    <span class="detailsN">Tipo </span>
                    <input type="text" placeholder="" required>
                    </div>
                    
                    <div class="input-boxN">
                    <span class="detailsN">Subir Archivo </span>
                    <input type="text" placeholder=" " required>
                    </div>
                    
                    <br>
                    </div>
                    <div class="user-detailN">
                    <div class="input-booxN">
                    <span class="detailN">Comentario</span>
                    <input type="text" placeholder="" required>
                    </div>
                </div>
                
                    <br>
                    <div class="centrar">
                    <a class="boton5" href="">Registrar</a>
                    </div>
                </form>

            </div>


</body>
</html>
