<html>
    <router-outlet></router-outlet>
    <head>
        <title>Sistema RH</title>
    </head>

    <body>
      
<br>
<div class="espacio">

</div>

          <div class="contenedor">
            <form action="#">
              <br>
              <div class="Titulo">Datos de contacto</div>
              <br>
              <div class="user-details">
                
                <div class="input-box">
                  <span class="details">Tel. Casa: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Casa" required>
                </div>
                <div class="input-box">
                  <span class="details">Tel. Celular: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Celular" required>
                </div> 
                <div class="input-box">
                  <span class="details">Tel. Celular2: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Celular2" required>
                </div>
                <div class="input-box">
                  <span class="details">Tel. Celular Emp.: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Celular Emp." required>
                </div>
                <div class="input-box">
                  <span class="details">Tel. Recados: </span>
                  <input type="text" placeholder="Ingresa tu Tel. Recados" required>
                </div>
                <div class="input-box">
                  <span class="details">E-mail Emp.: </span>
                  <input type="text" placeholder="Ingresa tu E-mail Emp" required>
                </div>
                <div class="input-box">
                  <span class="details">E-mail: </span>
                  <input type="text" placeholder="Ingresa tu E-mail" required>
                </div>
                <div class="input-box">
                  <span class="details">E-mail 2: </span>
                  <input type="text" placeholder="Ingresa tu E-mail 2" required>
                </div>
              </div>
              
            </form>

          </div>

        
    </body>
</html>