<html>
    <router-outlet></router-outlet>
    <head>
        <title>RH-cursos</title>
    </head>

    <body>

<br>
<div class="espacio">

</div>

          <div class="contenedorS">
            <form action="#">
              <br>
              <div class="TituloS">Cursos Academicos</div>
              <br>
              <div class="user-detailsS">
                
                <div class="input-boxS">
                  <span class="detailsS">Nombre del curso: </span>
                  <input type="text" placeholder="----------" required>
                </div>
                <div class="input-boxS">
                  <span class="detailsS">Impartido por: </span>
                  <input type="text" placeholder="----------" required>
                </div> 

                <div class="input-boxS">
                  <span class="detailsS">Fecha: </span>
                  <input type="text" placeholder="----------" required>
                </div>

                <div class="input-boxS">
                  <span class="detailsS">Certificación Diploma </span>
                  <input type="text" placeholder="----------" required>
                </div>

              </div>

              <br>
              <br>
                <div class="centrar">
                <a class="boton6" href="">Guardar</a>
                </div>
              
            </form>

          </div>

        
    </body>
</html>
