<html>
    
  <head>
      <title>Sistema RH</title>
  </head>
  
  <body>
    
    <div class="t-container">
      <ul class="t-tabs">  
        
        <li class="t-tab"><a class="menu" [routerLink]="['datospersonales']">Datos Personales</a></li> 
      </ul>
      <ul class="t-tabs1">   
        <li class="t-tab"><a class="menu" [routerLink]="['domicilio']">Domicilio</a></li> 
      </ul>
      <ul class="t-tabs2">
        <li class="t-tab"><a class="menu" [routerLink]="['datoscontacto']">Datos de contacto</a></li> 
      </ul>
      <ul class="t-tabs3">
        <li class="t-tab"><a class="menu" [routerLink]="['contrato']">Contrato</a></li> 
      </ul>
      <ul class="t-tabs4">
        <li class="t-tab"><a class="menu" [routerLink]="['empresa']">Empresa</a></li> 
      </ul>
      <ul class="t-tabs"> 
        <li class="t-tab"><a class="menu" [routerLink]="['cursos']">Cursos Académicos</a></li> 
      </ul>
      <ul class="t-tabs1"> 
        <li class="t-tab"><a class="menu" [routerLink]="['vacaciones']">Vacaciones</a></li> 
      </ul>
      <ul class="t-tabs2">
        <li class="t-tab"><a class="menu" [routerLink]="['nivelprofesional']">Nivel profesional</a></li>  
      </ul>
      <ul class="t-tabs3">
        <li class="t-tab"><a class="menu" [routerLink]="['contactos']">Contactos</a></li> 
      </ul>
      <ul class="t-tabs4">
        <li class="t-tab"><a class="menu" [routerLink]="['expedientes']">Expedientes</a></li> 
      </ul>
    </div>
    
  </body>
</html>
<router-outlet></router-outlet>
